# History files
.Rhistory

# Example code in package build process
*-Ex.R
.Rproj.user
*.Rproj

# latex auxilliary files
*.bbl
*.log
*.synctex.gz
*.DS_Store
*-concordance.tex

# folder with knitted figures
vignettes/figure/